{{template "base" .}}

{{define "title"}}Artists{{end}}

{{define "header"}}{{end}}

{{define "body"}}
  <!-- begin visible page content -->
  {{template "topnav" "artists"}}

  <div id="artist-pagegrid">
    {{ template "artists" . }}
  </div>
  <!-- end grid -->
{{end}}