{{define "base"}}
<!doctype html>
<html>

<head>
  <title>localfm : {{template "title" .}}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="static/css/localfm.css" />
  <script src="static/js/localfm.js"></script>

  {{template "header"}}
</head>

<body>
  {{template "body"}}
</body>

</html>
{{end}}