{{define "nextbar"}}
<div class="datebar">
  <div class="datebar-title">
    {{.}}: <span id="datebar-title-label"></span>
  </div>
  <div class="datebar-controls">
    <div>
      <a id="prevlink" href="#">&#8592; Previous</a>
    </div>

    <div>
      <a id="nextlink" href="#">Next &#8594;</a>
    </div>
  </div>
</div>
{{end}}