{{template "base" .}}

{{define "title"}}Recent Activity{{end}}

{{define "header"}}{{end}}

{{define "body"}}
  {{template "topnav" "recent"}}

  <div id="monthly-pagegrid">
    <!-- prev/next links  -->
    {{template "nextbar" .}}

    {{template "recent" .}}
  </div>
{{end}}
