{{template "base" .}}

{{define "title"}}Recent Activity{{end}}

{{define "header"}}{{end}}

{{define "body"}}
  {{template "topnav" "recent"}}

  <h3>Recently Played Tracks</h3>
  <table class="listview">
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/02b8dacde6af4d8758afbe41c691e098.jpg"
          alt=""></td>
      <td><em>Die Welt Kann Mich Nicht Mehr Verstehen</em><br>Tocotronic</td>
      <td>scrobbling now</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>VOI_DO</em><br>Apparat</td>
      <td>8 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>DAWAN</em></span><br>Apparat</td>
      <td>11 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>MEANS OF ENTRY</em><br>Apparat</td>
      <td>20 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/ea303af314b24e439cfc1e487dc94167.jpg"
          alt=""></td>
      <td><em>Wir wollen gar nicht besser sein</em><br>Die Lassie Singers</td>
      <td>22 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>Schritte Auf Der Treppe</em><br>Tocotronic</td>
      <td>25 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/5fb60cc1c159ab951f1005db3482e061.jpg"
          alt=""></td>
      <td><em>Harmony Hall</em><br>Vampire Weekend</td>
      <td>27 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>BRANDENBURG</em><br>Apparat</td>
      <td>30 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>CARONTE</em><br>Apparat</td>
      <td>35 minutes ago</td>
    </tr>
    <tr>
      <td><img class="coverimg" src="https://lastfm-img2.akamaized.net/i/u/64s/57105f6ca8e8b9a00449a5cdbbddb0f6.jpg"
          alt=""></td>
      <td><em>EQ_BREAK</em><br>Apparat</td>
      <td>38 minutes ago</td>
    </tr>
{{end}}
