{{template "base" .}}

{{define "title"}}Recent Activity{{end}}

{{define "header"}}{{end}}

{{define "body"}}
  {{template "topnav" "recent"}}

  <!-- try putting template blocks first for now -->
  <template id="recent_template">
    <tr>
      <td><img class="coverimg" src="" alt=""></td>
      <td><em>TITLE</em><br><span>ARTIST</span></td>
      <td title="tooltip">TIMESTAMP</td>
    </tr>
  </template>

  {{template "nextbar" "Recently Played Tracks"}}
  <!-- tracks tile -->
  <div class="mtracks">
    <table class="listview">
      <tbody>
        <tr>
          <td>&nbsp;loading...</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (e) => {
      initRecentPage()
    })
  </script>
{{end}}
