{{define "topnav"}}
  <div class="topnav">
    <a {{if eq . "recent"}}class="active"{{end}} href="/recent">Recent</a>
    <a {{if eq . "tracks"}}class="active"{{end}} href="/tracks">Tracks</a>
    <a {{if eq . "artists"}}class="active"{{end}} href="/artists">Artists</a>
    <a href="#about">About</a>
  </div>
{{end}}