{{template "base" .}}

{{define "title"}}Recent Tracks{{end}}

{{define "header"}}
  <!-- chart deps -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="static/js/chart.js"></script>
{{end}}

{{define "body"}}
  <!-- embed json data for clock widget -->
  <script type="text/javascript">
  window.clockData = {{ .ClockData }}
  </script>

  <!-- begin visible page content -->
  {{template "topnav" "tracks"}}

  <div id="monthly-pagegrid">
    {{ template "datebar" .}}
    {{ template "tracks" . }}
  </div>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (e) => {
      window.refreshListeningChart(window.clockData)
    })
  </script>
{{end}}