{{template "base" .}}

{{define "title"}}Tracks{{end}}

{{define "header"}}
  <!-- chart deps -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="static/js/chart.js"></script>
{{end}}

{{define "body"}}
  <!-- begin visible page content -->
  {{template "topnav" "tracks"}}

  <div id="monthly-pagegrid">
    {{ template "datebar" .PagingData}}
    {{ template "tracks" . }}
  </div>
{{end}}