{{define "artists"}}
    {{template "datebar" .PagingData}}

    <div class="gallery">
        {{ range .Artists }}
        <div class="atile">
            <img src="{{ index .ImageURLs 0}}">
            <div class="txt"><em>{{.Name}}</em><br><span>{{.PlayCount}}</span> plays</div>
        </div>
        {{ end }}
    </div>
{{end}}