{{define "datebar"}}
<div class="datebar">
  <div class="datebar-title">
    {{ .Title }}: <span id="datebar-title-label"></span>
  </div>
  <div class="datebar-controls">
    {{ if (ne .Previous "") }}
    <div>
      <a id="prevlink" href="#" hx-get="{{.Previous}}" hx-target="{{.DOMTarget}}">&#8592; Previous {{.UnitLabel}}</a>
    </div>
    {{ end }}

    <div>Show
      <select name="mode" id="daterange" hx-get="{{.DateRangeURL}}" hx-target="{{.DOMTarget}}">
        <option {{ if (eq .UnitLabel "Week") }} selected=1 {{ end }} value="week">Week</option>
        <option {{ if (eq .UnitLabel "Month") }} selected=1 {{ end }} value="month">Month</option>
        <option {{ if (eq .UnitLabel "Year") }} selected=1 {{ end }} value="year">Year</option>
      </select>
    </div>

    {{ if (ne .Next "") }}
    <div>
      <a id="nextlink" href="#" hx-get="{{.Next}}" hx-target="{{.DOMTarget}}" >Next {{.UnitLabel}} &#8594;</a>
    </div>
    {{ else }}
      <!-- hack around flexbox space-between to avoid modifying css -->
      <div></div>
    {{ end }}
  </div>
</div>
{{end}}